<div ng-app="DashboardMod" ng-controller="DashboardCtrl" ng-init="getUser()">
<header class="header">
  <h1 class="headline"><img ng-src="{{user.gravatarUrl}}" /> - Dashboard  <small>for {{user.name}}</small></h1>
  <ul class="header-subnav">
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
</div>
