<header class="header">
  <h1 class="headline">Dashboard  <small>for {{name}}</small></h1>
  <ul class="header-subnav">
    <li><a href="#">Take Action!</a></li>
    <li><a href="#" class="is-active">Carpe Diem!</a></li>
    <li><a target="_blank" href="http://zurb.com/responsive">Just do it!</a></li>
  </ul>
</header>
