  <div class="small-offset-2 small-8 columns" ng-app="SignupMod" ng-controller="SignupCtrl">
    <div class="signup-box">
      <div class="row">
        <div class="small-12 columns">
          <h2 class="text-center">User Authentication</h2>

          <p class="text-center">Please fill in the fields below to signup</p>

          <form ng-submit="loginSubmit()">
            <div class="row">
              <div class="small-12 columns">
                <input ng-model="name" ng-maxlength="40" type="text" name="name" placeholder="Name" required />
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <input ng-model="email" type="email" name="email" placeholder="Email Address" required />
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <input ng-model="password" ng-maxlength="20" type="password" name="password" placeholder="Password" required />
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <input ng-model="password2" ng-maxlength="20" type="password" name="password2" placeholder="Confirm Password" required />
              </div>
            </div>

            <div class="row">
              <div class="small-6 columns">
                <input type="submit" class="button expanded" value="Create Account" />
              </div>
              <div class="small-6 columns">
                <a class="button expanded">Log In</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
