  <div class="small-offset-2 small-8 columns" ng-app="LoginMod" ng-controller="LoginCtrl">
    <div class="login-box">
      <div class="row">
        <div class="small-12 columns">
          <h2 class="text-center">User Authentication</h2>

          <p class="text-center">Please login or create an account</p>

          <form ng-submit="runLogin()">
            <div class="row">
              <div class="small-12 columns">
                <input ng-model="email" type="email" name="email" placeholder="Email Address" required />
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <input ng-model="password" type="password" name="password" placeholder="Password" required />
              </div>
            </div>

            <div class="row">
              <div class="small-6 columns">
                <input type="submit" class="button expanded" value="Login" />
              </div>
              <div class="small-6 columns">
                <a class="button expanded">Create Account</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
