<!DOCTYPE html>
<html>
<head>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/foundation.css">
  <link rel="stylesheet" href="/styles/foundation.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>
<body>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/foundation.min.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/what-input.js"></script>
  <script src="/js/public/signup/SignupMod.js"></script>
  <script src="/js/public/signup/SignupCtrl.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/vendor/foundation.js"></script>
  <script src="/js/vendor/foundation.min.js"></script>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/what-input.js"></script>
  <!--SCRIPTS END-->

</body>
</html>
